<h3>Entries</h3>
<ul class="heroes">
  <li *ngFor="let entry of entries"
    [class.selected]="entry === selectedEntry"
    (click)="onSelect(entry)">
    <span class="badge">{{entry.id}}</span> {{entry.firstName}}
  </li>
</ul>
<div *ngIf="selectedEntry">
  <h2>
    {{selectedEntry.firstName | uppercase}} is selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
