<div>
  <h1>{{entry.zipCode}}</h1>
  <h2>{{entry.firstName}} {{entry.lastName}}</h2>
  <div>
    <label>First name: </label>
    <input [(ngModel)]="entry.firstName" placeholder="first name">
  </div>
  <div>
    <label>Last name: </label>
    <input [(ngModel)]="entry.lastName" placeholder="last name">
  </div>
  <button (click)="goBack()">Back</button>
</div>
